$body-bg: #f8f8f8;
$body-color: #2c2738;

$primary: #0880ae;
$secondary: #7c9cbf;
$hint: #756f86;
$danger: #ff7171;
$light: #ebf4f8;
$muted: #b1b5bf;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
